.btn
{
    background-color: #222;
    color: #FFF;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: 0.5;
    flex-grow: 0px;
    text-align: center;
}
.btn:hover
{
    color: #FFBB33;
}